.cocktail-infos {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.add-ingredients {
  margin-right: 30px;
}

.ingredients-list {
  margin-top: 50px;
  background-color: $back-grey;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  border-left: 6px solid #C4C4C4;
}

.ingredients-title {
  margin-bottom: 30px;
  padding-bottom: 20px;
  width: 100%;
  font-family: $title-font;
}

.first-td {
  width: 5px;
}

.ingredients-name {
  font-family: $headers-font;
  font-size: 22px;
}

li {
  text-decoration: none;
}

tr {
  width: 100%;
}
