<div class="my-navbar">
  <div>
    <%= link_to 'Home', cocktails_path, class: 'link-white' %>
  </div>
  <div>
    <%= link_to 'Add Cocktail', new_cocktail_path, class: 'link-white' %>
    <%= link_to '', new_cocktail_path, class: 'fas fa-plus btn-plus' %>
  </div>
</div>
