.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 10px 50px;
  height: 80px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 22px;
  font-family: $headers-font;
}
